* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    position: sticky;
    border-bottom: 5px;
    background-color: aqua;
}

main {
    size: 80%;
    text-align: center;
    background-color: bisque;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: darkkhaki;
}

p {
    padding: 1em;
}