@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    background-color: #FCEBB6;
}

* {
    font-family: Tahoma, Arial, sans-serif;
    color: #221811;
}

header {
    color: #8C3826;
    background-color: #D2B48C;
    text-align: center;
}

h1 {
    line-height: 200%;
    font-family: 'Lobster';

}

h2 {
    color: #8C3826;
}

nav {
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #D2B48C;
    font-size: .60em;
    font-style: italic;
}

a {
    text-decoration: dotted;
    color: grey;
}

#wrapper {
    width: 80%;
    background-color: #FEFAEB;
    margin-right: auto;
    margin-left: auto;
}