.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align:center;
    grid-gap: 5px;
    width: 500px;
    height: 500px;
}


.grid-object {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-weight: bold;
}

#large {
    grid-column: 1 / 4;
    background-color:greenyellow;
}